//screen sizes
$mobile-large: 512px;
$tablet: 768px;
$laptop: 992px;
$desktop: 1200px;

//colors
$primary: #26a69a;
$danger: red;
$white: #ffffff;
$grey: #9e9e9e;
$input-color: #000000;
$input-height: 2rem;
$label-color: #616161;
$placeholder: #939393;
$secondary: #6c757d;
$success: #28a745;
$warning: #ffc107;
$info: #17a2b8;
$dark: #343a40;
