@use 'generic.scss';
@use 'components.scss';
@use 'containers.scss';

html,
body,
#root {
  height: 100%;
}

#root {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 8px;
  padding-right: 8px;
  width: calc(100vw - 1rem);
  max-width: 1170px;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.flex-column {
  flex-direction: column;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}
